/*projects*/
.showcase .showcase-text {
padding: 3rem;
}
.showcase .showcase-img {
min-height: 20rem;
background-size: cover;
}
@media (min-width: 768px) {
.showcase .showcase-text {
    padding-top: 14rem;
}
}



  